/ic_accommodation.png
/ic_action_microphone.png
/ic_action_search.png
/ic_attractions.png
/ic_colours.png
/ic_countries.png
/ic_dating.png
/ic_directions_places.png
/ic_eating_out.png
/ic_emergency.png
/ic_family.png
/ic_fav.png
/ic_fav_press.png
/ic_feeling_sick.png
/ic_general_conversation.png
/ic_greeting.png
/ic_greeting_thai.png
/ic_launcher_foreground.xml
/ic_number.png
/ic_shopping.png
/ic_sound.png
/ic_sound_press.png
/ic_time.png
/ic_tongue_twisters.png
/ic_towns.png
/ic_transportation.png
/icon_null.png
/im_search.png
